body {
    font-family: Arial, sans-serif;
    background: linear-gradient(blue, cyan);
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(#bad80a, #009e49);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.burger-image {
    max-width: 100%;
    height: auto;
}
